# Ignore the Python virtual environment
/venv/

# Ignore the .vscode folder (editor settings)
/.vscode/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/

# Ignore our SQLite database file
/data/superstore.db
